.gallery {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%; }
.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease; }
.gallery .animation {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1); }

@media (max-width: 450px) {
.gallery {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-width: 100%;
-moz-column-width: 100%;
column-width: 100%;
}
}

@media (max-width: 400px) {
.btn.filter {
padding-left: 1.1rem;
padding-right: 1.1rem;
}
}

html { font-size: 14px; }
body {
  font: 300 1rem/1.6 "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 20px 0;
  color: #000;
  background-color: #fff;
  padding-right: 0 !important ;
  overflow-y: scroll!important;
}
a { color: #0088cc; text-decoration: none; }
a:focus, a:hover { color: #0088cc; text-decoration: underline; }
article { position:relative; padding: 9.09091% 0 12.58741%;}
.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.rotate {display: none !important}
/*-------- NAV --------*/
.navbar { margin-bottom: 20px; background: none; padding: 0; }
.nav ul { margin-right: -15px; }
.nav li a { color: #0088cc; font-weight: 300; text-transform: uppercase; }
.nav li a:focus, .nav li a:hover {
  text-decoration: none;
  background-color: transparent;
  box-shadow: 0px 3px 0px 0px #179cde;
  -webkit-box-shadow: 0px 3px 0px 0px #179cde;
  padding-bottom: 13.5px;
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin: 8px 15px 8px 0;
  background-color: transparent;
  background-image: none;
  border: 0;
}

.modal-content{
    border-radius:0;
}

.msg_page{
    margin-top:90px;
}

.msg_page h1{
    margin: 0;
    vertical-align: baseline;
    border: 0;
    font-size: 2em;
    margin:0;
    font-weight: 300;
    letter-spacing: -.025em;
    line-height: 1.11538;
    color: #000;
}
.msg_page h2{
    color: rgb(158, 160, 166);
    margin: 0;
    vertical-align: baseline;
    border: 0;
    font-size: 1.7em;
    font-weight: 300;
    letter-spacing: -.025em;
}
.cell{
    border:1px solid white;
}
/* Desktops and laptops ----------- */
    /*article { border-bottom: 1px solid rgba(144,158,167,.5);}*/
    .intro { font-size: 1.5rem; margin-top: 30px; }
    .mailus {margin-top:2.5rem; font-size:1.1rem; text-align:right;}

    h1{
      font-size: 2rem;
      font-weight: 200;
      letter-spacing: -.025em;
			line-height: 1.11538;
			color: #000;
    }
		
		h2{
			font-weight: 100;
			letter-spacing: -.035em;
			line-height: 1.11538;
			color: #8d8f9a;
		}
		
		p{
			color: #000;
			letter-spacing: .025em;
			line-height: 1.55556;
			font-weight: 300;
			margin-bottom: 1.7em;
		}

		.pp{
			margin-top: 1.7em;
			line-height: 1.55556;
			font-weight: 300;
			margin-bottom: 4.5em;
		}
    .article-paragraph {
      font-size: 1.35rem;
      margin:0 auto;
      text-align: center;
      padding: 0;
      padding: 25px 0 35px 0;
      }

    .article-paragraph strong{font-weight:normal;}
    .spacer{width:100%; height:50px;}

    
    .title { padding: 0;
    margin: 0;
    vertical-align: baseline;
    border: 0;
    font-size: 2em;
    margin: 0;
    font-weight: 300;
    letter-spacing: -.025em;
    line-height: 1.11538;
    color: #000;}

    h3 {
    color: rgb(158, 160, 166);
    margin: 0;
    vertical-align: baseline;
    border: 0;
    font-size: 1.7em;
    margin:0 0 .5em;
    font-weight: 300;
    letter-spacing: -.025em;
    }
  
    footer { vertical-align: middle; margin: 0 auto; padding: 35px 0 0 0; font-size: .9rem; }
    footer img { float: left; margin: 14px 50px 0 0; width: auto; height: 20px; }
    .link { line-height: 50px; border-left: 1px solid #b3b3b3; padding-left: 13px; margin-right: 13px; font-size: 1rem; }
    .copyright { float:right; margin-right: 0; border:0; line-height: 50px; padding-left: 13px; margin-right: 13px; font-size: 1rem; }


