<!-- Footer -->
<footer>
  <div class="container">
    <span class5="footlogo"><a href="/" class="logo"><img src="/img/{{ site.logo }}" alt="logo"></a></span>
    <span class="link"><a href="mailto:{{ site.email }}">{{ site.email }}</a></span>
    <span class="link" span=""><a href="tel:{{ site.tel }}">{{ site.tel }}</a></span>
    <span class="link">Россия, г. Москва</span>
    <span class="copyright">&copy; {{ site.copyright_name }} {{ site.time | date: '%Y' }}</span>
  </div>
  <!--<p id="back-top"><a href="#top"><span></span></a></p>-->
</footer>
