<!-- Static navbar -->
<nav class="navbar navbar-enso">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}/">
        <img src="/img/{{ site.logo }}">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
	<div style="display: block;position: absolute;background-position: 0% 0%;background-repeat: no-repeat;border-width: 0;top: 8px; right: 0;">
      	<p style="text-align: right;">
		      <span style="color:#333;">
						<span style="font-size: 1.5rem; font-weight: 300;">
							<span style="font-family: 'Roboto', sans-serif;">+7 926 198 40 28</span>
						</span>
					</span>
				</p>
			</div>
    </div><!--/.nav-collapse -->

  </div><!--/.container-fluid -->
</nav>
